.blog-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin: 50px;
}
.blog {
  margin: 15px;
  padding: 20px;
  border-radius: 10px;
  background-color: lightblue;
}
.blog p {
  font-size: 18px;
  font-weight: 500;
}
@media only screen and (max-width: 768px) and (min-width: 576px) {
  .blog-container {
    display: flex;
    flex-direction: column;
  }
}
@media only screen and (max-width: 576px) {
  .blog-container {
    display: flex;
    flex-direction: column;
  }
}
