.exercise-time {
  background-color: lightgray;
  margin: 10px;
  padding: 8px;
  border-radius: 10px;
}
.break-time {
  background-color: lightgray;
  margin: 10px;
  padding: 8px;
  border-radius: 10px;
}
