.break-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  background-color: lightgray;
  margin: 10px;
  padding: 20px;
  border-radius: 10px;
}
.break-container div {
  border-radius: 50%;
  border: 1px solid white;
  color: black;
  background-color: white;
  font-weight: 600;
  padding: 5px;
  cursor: pointer;
}
.addBreak-container {
  text-align: center;
}
